// Accent theme colors
$yellowColor: #f0d32f
// Top panel
$topBg: #473f3b
$inputCheked: #322a24
$colorNameChecked:  #fff
// Pop Up
$btnRedBg: #eb6400
$btnBlackBg: #000
$topChatOnline : #00d03d
$topChatoffline:  #c0392b
$topChatText: #fff
$formNameText: #b2b2b2
$colorTextAddress: #ff6e02

// Header
$colorSearchStr: #3498db

// Footer
$grayBackground: #322a24
$blackColor: #000
$whiteColor: #fff
$anchorTagColor: rgba(255,255,255,.5)
