@use './breakpoint/breakpoint'
@use './popup'
@use './header/top'
@use './header/meduim'
@use './header/search'
@use './header/cart'
@use './logos'
body
    background-color: #f8f8f8
    font-family: "Open Sans", sans-serif
    font-size: 14px
