@use '../colors'

.footer-row
	margin: 0 auto
	padding: 30px
	box-sizing: border-box
	font-size: 14px
	background: colors.$blackColor
	color: colors.$whiteColor
	.footer-t
		font-size: 18px
		font-weight: 600
		margin: 0 0 5px
	.list
		min-width: 220px
		padding: 0
		list-style: none
		display: inline-block
		vertical-align: top
		margin: 14px 0
		.list-t
			font-size: 18px
			font-weight: 600
			margin: 0 0 5px
		.list-t:not(:first-child)
			margin: 20px 0 0
		a
			color: colors.$anchorTagColor
			text-decoration: underline

	.list.list-socials
		display: flex
		flex-wrap: wrap
		margin: 0
		.list-item
			font-size: 15px
			margin: 0 20px 0 0
			a
				align-items: center
				display: flex
				img
					margin: 0 5px 0 0

.footer-row.footer-bottom
	display: table
	width: 100%
	.footer-col:nth-child(1)
		float: right
		margin-top: 18px
	.footer-col:nth-child(2)
		float: left
	.footer-col
		display: table-cell
		max-width: 50%
		.logo
			width: 180px
			display: inline-block
		.list
			margin: 0
			line-height: 32px
			.list-item
				margin: 0 20px 0 0
				display: inline-block
				img
					height: 15px
		.copy
			display: inline-block
			line-height: 30px
			vertical-align: bottom
			margin: 0 0 0 20px
		.footer-text
			display: inline
			line-height: 28px
			margin-right: 15px

// Media queries

@media all and  (max-width: 1040px )
	.footer-row.footer-bottom
		.footer-col
			max-width: 100%
			width: 100%
			margin: 0 0 15px !important
@media all and  (max-width: 480px )
	.footer-row.footer-bottom
		.footer-col
			.copy
				margin: 0
