.footer-bot
	background: black
	margin: 0 auto
	padding: 30px
	-webkit-box-sizing: border-box
	box-sizing: border-box

	.footer-t
		color: #fff
		font-size: 18px
		font-weight: 600
		margin: 0 0 5px

	ul.list
		min-width: 220px
		padding: 0
		list-style: none
		display: inline-block
		vertical-align: top

		li
			color: #fff

		.list-t
			font-size: 18px
			font-weight: 600
			margin: 0 0 5px

		.list-t:not(:first-child)
			margin: 20px 0 0

		a
			color: rgba(255,255,255,.5)
			text-decoration: underline

	ul.list.list-socials
		display: flex
		flex-wrap: wrap
		margin: 0

		.list-item
			font-size: 15px
			margin: 0 20px 0 0

			a
				align-items: center
				display: flex

				img
					margin: 0 5px 0 0
			