@use "../colors"

.footer-top
    padding: 20px 30px
    background: colors.$grayBackground

    .responsive
        margin: 0 auto
        padding: 30px
        -webkit-box-sizing: border-box
        box-sizing: border-box
    
    .footer-adv
        display: flex
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center
        
        .footer-col
            color: colors.$whiteColor
            padding: 0 20px
            -webkit-box-align: start
            -ms-flex-align: start
            align-items: flex-start
            display: flex

            figure 
                margin: 0 15px 0 0
                text-align: right
                width: 48px

            .footer-other
                .footer-t
                    font-size: 18px

                .footer-descr
                    font-size: 15px