@use '../colors'
.header-search
    width: 540px
    position: relative
    margin-left: 20px
    box-sizing: border-box
    .form-input
        border: none
        width: inherit
        border-radius: 5px
        color: colors.$colorSearchStr
        font-size: 18px
        outline: none
        padding: 12px 20px
        box-sizing: inherit
    .form-btn
        border: none
        height: 16px
        top: 12px
        width: 16px
        position: absolute
        z-index: 50
        cursor: pointer
        background: url(../images/png/search-ico.png) no-repeat
        right: 12px
